@charset "UTF-8";

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #4ebc70;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#topBar {
    background: white;
    padding: 10px;
}

#content {
    flex: 1;
    display: flex;
}

#sideBar {
    background: aquamarine;
    padding: 10px;
}

main {
    flex: 1;
    background: yellow;
    padding: 10px;
}

footer {
    padding: 10px;
}